#ui {
    height: 98vh;
    -webkit-mask: url(../imgs/replica_logo.svg) no-repeat 50% 50%; 
    mask: url(../imgs/replica_logo.svg) no-repeat 50% 50%;  
    -webkit-mask-size: cover;  
    mask-size: cover;
    background-color: purple;
}

.ui-dialog .ui-dialog-titlebar-close {
    font-size: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog {
    z-index: 0;
}
