#ui {
    height: 98vh;
    -webkit-mask: url(../imgs/replica_logo.svg) center no-repeat; 
    mask: url(../imgs/replica_logo.svg) center no-repeat;
    background-color: purple;
}

.ui-dialog .ui-dialog-titlebar-close {
    font-size: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog {
    z-index: 0;
}

.r-ui {
    background-color: light-purple;
}
