#ui {
    height: 98vh;
    background: no-repeat center url("../imgs/replica_full_logo.svg");
}

.ui-dialog .ui-dialog-titlebar-close {font-size: 0;}

.no-close .ui-dialog-titlebar-close {display: none;}

.ui-dialog {
    z-index: 0;
}
